:root {
    --primary-color: #f5ece2;
    --secondary-color: #a89988;
    --text-color: #4c3a32;
    --p-color: #8d6b54;
    --background-color: #d7c3b5;
}  
#banner-services{
    height: 60vh;
    background-image: url(../img/banner-services.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#banner-services h1{
    font-family: 'Seasons';
    font-size: 65px;
    color: var(--primary-color);
}
.prestations{
    background-color: var(--primary-color);
    padding: 80px 0 80px 0;
    gap: 50px;
}
.btn-tarifs{
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--p-color);
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid var(--primary-color);
    border-radius: 16px;
    margin-top: 30px;
    padding: 6px 18px 6px 18px;
    box-shadow: inset 0 0 0 0 var(--p-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.btn-tarifs:hover{
    color: var(--primary-color);
    box-shadow: inset 200px 0 0 0 var(--p-color);
}

#modale1{
	position:fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}
.modale-content{
	overflow: auto;
	width: 660px;
	height: 700px;
	border-radius: 16px;
	background-image: url(../img/formule-background.png);
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
    padding: 48px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
#close-modale{
    border: none;
    position: absolute;
    top: 2%;
    right: 3%;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
#close-modale i{
    font-size: 28px;
}
#close-modale:hover{
    color: var(--p-color);
}
.modale-container{
    background-color: rgba(141, 107, 84, 0.65);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 10px 30px;
}
.logoModale{
    width: 80px;
}
.modale-title{
    gap: 50px;
}
.modale-title h2{
    font-family: 'Seasons';
    font-size: 55px;
    color: var(--primary-color);
    margin-bottom: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.modale-head p{
    font-family: 'Radley';
    font-size: 28px;
    color: var(--primary-color);
}
.formules{
    gap: 35px;
    width: 100%;
}
.pack{
    background-color: var(--background-color);
    width: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 16px;
    border: 1px solid var(--primary-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.pack p{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
.btn-contact-modale{
    cursor: pointer;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'Radley';
    font-weight: 600;
    border: 1px solid var(--text-color);
    border-radius: 16px;
    padding: 5px 15px 5px 15px;
    box-shadow: inset 0 0 0 0 var(--background-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.btn-contact-modale:hover{
    color: var(--text-color);
    box-shadow: inset 200px 0 0 0 var(--background-color);
}
@media (max-width: 768px){
    .modale-content{
        width: 540px;
        height: 600px;
    }
    .logoModale{
        width: 70px;
    }
    .modale-title h2{
        font-size: 42px;
    }
    .modale-head p{
        font-size: 22px;
        margin-bottom: 0;
    }
    .formules{
        gap: 20px;
    }
    .pack p{
        font-size: 18px;
    }
    .btn-contact-modale{
        font-size: 18px;
    }
    #close-modale i{
        font-size: 24px;
    }
}

@media (max-width: 575px){
    .modale-content{
        width: 330px;
        height: 430px;
        padding: 30px 15px 15px 15px;
    }
    .modale-container{
        padding: 10px;
    }
    .btn-contact-modale{
        font-size: 12px;
    }
    #close-modale i{
        font-size: 20px;
    }
    .logoModale{
        width: 40px;
    }
    .modale-title{
        gap: 30px;
    }
    .modale-title h2{
        font-size: 30px;
    }
    .modale-head p{
        font-size: 18px;
        margin-bottom: 0;
    }
    .formules{
        gap: 15px;
    }
    .pack{
        padding: 8px 12px 8px 12px;gaa
    }
    .pack p{
        font-size: 14px;
    }
}


/* PRESTATION CARDS */

.presta-container{
    gap: 30px;
    width: 85%;
}
.service-card{
    width: 100%;
    border: 1px solid var(--background-color);
    background: #fff;
    border-radius: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.5s ease, transform 0.8s ease;
}
.service-card.show {
    opacity: 1;
    transform: translateX(0);
}
.title-container{
    gap: 20px;
}
.title-container h3{
    color: var(--text-color);
}
.service-img{
    width: 40%;
    border-radius: 16px 0 0 16px;
    object-fit: cover;
}
.service-img2{
    width: 40%;
    border-radius: 0 16px 16px 0;
    object-fit: cover;
}
.service-content{
    width: 60%;
    gap: 20px;
    padding: 20px 20px 0 20px;
    border-left: 1px solid var(--background-color);
}
.service-contentLeft{
    width: 60%;
    gap: 20px;
    padding: 20px 20px 0 20px;
    border-right: 1px solid var(--background-color);
}
.service-content p, .service-contentLeft p{
    font-size: 18px;
    color: var(--text-color);
}
.service-tarif{
    background-color: var(--background-color);
    border-radius: 50%;
    padding: 15px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
}
.contact-btn{
    cursor: pointer;
    text-decoration: none;
    background-color: var(--p-color);
    color: var(--primary-color);
    font-size: 16px;
    border: 1px solid var(--text-color);
    border-radius: 16px;
    padding: 5px 15px 5px 15px;
    box-shadow: inset 0 0 0 0 var(--background-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.contact-btn:hover{
    color: var(--text-color);
    box-shadow: inset 200px 0 0 0 var(--background-color);
}

@media (max-width: 1024px){
    .service-card{
        flex-direction: column;
        height: 100%;
    }
    .service-card2{
        flex-direction: column-reverse;
    }
    .service-img, .service-img2{
        width: 100%;
        height: 400px;
        border-radius: 16px 16px 0 0;
    }
    .service-content{
        width: 100%;
        border-left: none;
    }
    .service-contentLeft{
        width: 100%;
        border-right: none;
    }
}

@media (max-Width:768px) {
    #banner-services h1{
        font-size: 55px;
    }
    .title-container h3{
        font-size: 24px;
    }
    .service-content p, .service-contentLeft p{
        font-size: 16px;
    }
    .service-img, .service-img2{
        height: 300px;
    }
    .contact-btn{
        font-size: 14px;
    }
}
@media (max-width: 575px){
    #banner-services h1{
        font-size: 50px;
    }
    .btn-tarifs{
        margin-top: 10px;
        font-size: 16px;
    }
    .prestations{
        padding: 50px 10px 50px 10px;
    }
    .presta-container{
        width: 95%;
    }
    .title-container{
        flex-direction: column;
        align-self: flex-start;
        gap: 10px;
    }
    .contact-btn{
        align-self: flex-start;
        background-color: transparent;
        color: var(--p-color);
    }
    .title-container h3{
        font-size: 20px;
    }
    .service-content p, .service-contentLeft p{
        font-size: 15px;
        text-align: justify;
        margin-bottom: 0;
    }
    .service-details{
        margin-bottom: 20px;
    }
    .service-tarif{
        padding: 10px;
    }
}