<section id="header1">
    <div class="menu d-flex justify-content-between align-items-center fixed-top"> 
       <div class="logo-container">
          <a class="logo-lena" href="#bannerIntro"><img src="img/logo/LPlogo.PNG"></a>
       </div>
       <button id="menu-toggle" aria-label="Toggle navigation">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
       <ul class="nav"> 
        <li class="nav-item">
           <a class="nav-link" href="#bannerIntro">Accueil</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="about.html">À propos</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="presta.html">Prestations</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
       </ul>
     </div>
</section> 